body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    background-color: #FAF1E4;
}

.title {
    text-align: center;
}

#game-field {
    display: flex;
    flex-wrap: wrap;
    background-color: #75716a;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
}

#game-field div {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    margin: 2px;
}

.bgtile1 {
    background-color: #CEDEBD;
}
.bgtile2 {
    background-color: #9EB384;
}
.bgtile3 {
    background-color: #435334;
}

.bgtile {
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hide {
    display: none;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    /* background-color: #CEDEBD; */
    margin: 10px auto 0;
}

#btn-action {
    width: 100px;
    height: 20px;
    margin-bottom: 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn {
    width: 95px;
    height: 35px;
    padding: 8px;
    text-transform: uppercase;
    font-weight: bold;
}

#event-display {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 32vh;
    left: 50vw;
    width: 300px;
    height: 200px;
    background-color: #718953;
    border-radius: 10px;
    border: 2px solid #1e1d1b
    
}

#event-display-close {
    position: absolute;
    left: 270px;
    width: 30px;
    height: 30px;
    background-color: #71895300;
    border: none;
    cursor: pointer;
}

#event-img1 {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 70px;

}

#event-img2 {
    position: absolute;
    top: 30px;
    left: 185px;
    font-size: 70px;
}

#event-text {
    position: relative;
    display: flex;
    top: 150px;
    justify-content: center;
    text-transform: uppercase;
    padding: 0 20px;
    text-align: center;
    font-weight: bold;
    
}