body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    background-color: #FAF1E4;
}



#game-field {
    display: flex;
    flex-wrap: wrap;
    background-color: #75716a;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
}

#game-field div {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    margin: 2px;
    
}

#game-field div:active {
    
}

.bgtile1 {
    background-color: #CEDEBD;
}
.bgtile2 {
    background-color: #9EB384;
}
.bgtile3 {
    background-color: #435334;
}

.bgtile {
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.marker {
    background-image: url(data:image/svg+xml;charset=UTF-8;base64,8J+Msg==);
}

