body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    background-color: #FAF1E4;
}

.title {
    text-align: center;
}

#player-object,
#npc-object,
#building-object {
    font-size: 20px;
}

#game-field {
    display: flex;
    flex-wrap: wrap;
    background-color: #75716a;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
}

#game-field div {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    margin: 2px;
}

.bgtile1 {
    background-color: #CEDEBD;
}
.bgtile2 {
    background-color: #9EB384;
}
.bgtile3 {
    background-color: #435334;
}

.bgtile {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hide {
    display: none;
}

#log-block {
    margin: 10px auto 0;
    padding: 10px;
    width: 378px;
    height: 36px;
    border-radius: 10px;
    /* background-color: grey; */
}

#log-img {
    position: absolute;
    font-size: 30px;
    margin-top: -5px;
    
}
#log-text {
    margin-left: 48px;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    /* background-color: #CEDEBD; */
    margin: 10px auto 0;
}

#btn-stats-tab,
#btn-actions-tab,
#btn-inventory-tab {
    width: 128px;
    height: 35px;
    margin-bottom: 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 89px;
    height: 60px;
    padding: 8px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
}

.btn-no-active {
    background-color: #b2b2b2
}

.actions-panel,
.stats-panel,
.inventory-panel {
    position: relative;
    transform: translate(-50%, -50%);
    top: 29px;
    left: 50%;
    padding: 10px;
    width: 373px;
    height: 60px;
    background-color: #efefef;
    
    
}